    body{
        background: lightblue
    }
    .arc path{
        stroke: black
    }
    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6,  auto);
        grid-template-rows: repeat(5,  auto);
        background-color: lightblue;
        color: #444;
        width: 98vw;
        height: 95vh;
        margin: 20px 0px 20px 0px;
    }

    .box {
        background-color: #fff;
        border: 2px solid black;
        border-radius: 25px;
        font-size: 150%;
    }

    .timeblocks {
        background-color: lightgray;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .overview {
        background-color: lightgray;
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .detial {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .compare {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
    }

    .post_node{
        stroke: black;
        stroke-width: 1px;
    }